<div class="row">
  <div class="col-md-1"></div>
  <h2 class="col-md-3">Leads List</h2>
</div>


<table class="table table-striped">
  <thead>
    <tr class="row">
      <th class="col-md-1">Company</th>
      <th class="col-md-1">Phone</th>
      <th class="col-md-1">Url</th>
      <th class="col-md-1">City</th>
      <th class="col-md-1">State</th>
      <th class="col-md-1">Called</th>
      <th class="col-md-1">Caller</th>
      <th class="col-md-1">Notes</th>
      <th class="col-md-1">Updated</th>
      <th class="col-md-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr class="row">
        <td class="col-md-1"><%=link_to lead.company, lead %></td>
        <td class="col-md-1"><%= lead.phone %></td>
        <td class="col-md-1"><%= lead.url %></td>
        <td class="col-md-1"><%= lead.city %></td>
        <td class="col-md-1"><%= lead.state %></td>
        <td class="col-md-1"><%= lead.called %></td>
        <td class="col-md-1"><%= lead.caller_id %></td>
        <td class="col-md-1"><%= lead.notes %></td>
        <td class="col-md-1"><%= lead.updated_at.strftime("%m/%d/%Y") %></td>
        <td class="col-md-1"><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <td class="col-md-1"><%= link_to 'Delete', lead, method: :delete, data: { confirm: "Are you sure?\nThis contact will be deleted from the server."} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col-md-1"></div>
  <%= link_to 'New Lead', new_lead_path %>
</div>