<div class="row">
  <div class="col-md-2"></div>
  <h2 class="col-md-3">Listing leads</h2>
</div>


<table class="table table-striped">
  <thead>
    <tr class="row">
      <th class="col-md-1">Company</th>
      <th class="col-md-1">Phone</th>
      <th class="col-md-1">Url</th>
      <th class="col-md-1">Called</th>
      <th class="col-md-1">Times called</th>
      <th class="col-md-1">Caller</th>
      <th class="col-md-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr class="row">
        <td class="col-md-1"><%= lead.company %></td>
        <td class="col-md-1"><%= lead.phone %></td>
        <td class="col-md-1"><%= lead.url %></td>
        <td class="col-md-1"><%= lead.called %></td>
        <td class="col-md-1"><%= lead.times_called %></td>
        <td class="col-md-1"><%= lead.caller_id %></td>
        <td class="col-md-1"><%= link_to 'Show', lead %></td>
        <td class="col-md-1"><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <td class="col-md-1"><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col-md-2">
  <%= link_to 'New Lead', new_lead_path %>
</div>
</div>